{% extends widget.get_base_template %}
{% load i18n staticfiles crispy_forms_tags leonardo_tags leonardo_page_tags %}

{% block content %}
<h2>{{ order_title }} - {{ object.get_full_name }} - {% now "d.m. Y H:i" %}</h2>

<h3>Objednavatel: {{ object.get_full_name }}</h3>
<table style="border: none;padding: 8px;width: 100%;">
    <tr>
      <th style="text-align: left;padding: 6px;width: 150px;">E-mail:</th>
      <td>{{ object.email }}</td>
    </tr>
    <tr>
      <th style="text-align: left;padding: 6px;width: 150px;">Telefon:</th>
      <td>{{ object.telefon }}</td>
    </tr>
    <tr>
      <th style="text-align: left;padding: 6px;width: 150px;">Firma:</th>
      <td>{{ object.firma }}</td>
    </tr>
    <tr>
      <th style="text-align: left;padding: 6px;width: 150px;">Doručovací adresa:</th>
      <td>{{ object.dorucovaci_adresa }}</td>
    </tr>
    <tr>
      <th style="text-align: left;padding: 6px;width: 150px;">IČO:</th>
      <td>{{ object.ico }}</td>
    </tr>
    <tr>
      <th style="text-align: left;padding: 6px;width: 150px;">DIČ:</th>
      <td>{% firstof object.dic "-- nevyplněno --" %}</td>
    </tr>
    <tr>
      <th style="text-align: left;padding: 6px;width: 150px;">Doprava:</th>
      <td>{{ object.doprava }}</td>
    </tr>
    <tr>
      <th style="text-align: left;padding: 6px;width: 150px;">Platba:</th>
      <td>{{ object.platba }}</td>
    </tr>
    <tr>
      <th style="text-align: left;padding: 6px;width: 150px;">Zpráva:</th>
      <td>{% firstof object.zprava "-- nevyplněno --" %}</td>
    </tr>
    <tr>
      <th style="text-align: left;padding: 6px;width: 150px;">Vytvořeno:</th>
      <td>{{ object.pub_date|date:"d.m. Y H:i" }}</td>
    </tr>
</table>
<h3>Razící štočky:</h3>
<hr>
{% if object.orderproduct_set.count == 0 %}
<b>Objednavatel nezadal žádné produkty.</b>
{% else %}
<table style="border: 1px solid #e8e8e8;padding: 6px;width: 100%;border-collapse: collapse;">
    <tr>
        <th style="text-align: left;padding: 8px;border-bottom: 1px solid #ececec;">Produkt</th>
        <th style="text-align: left;padding: 8px;border-bottom: 1px solid #ececec;">Tloušťka podstavy</th>
        <th style="text-align: left;padding: 8px;border-bottom: 1px solid #ececec;">Výška podstavy</th>
        <th style="text-align: left;padding: 8px;border-bottom: 1px solid #ececec;">Rozměr motivu</th>
        <th style="text-align: left;padding: 8px;border-bottom: 1px solid #ececec;">Soubor</th>
    </tr>
{% for product in object.orderproduct_set.all %}
    <tr style="background-color: {% cycle '#ffffff' '#f9f9f9' %}">
      <td style="text-align: left;padding: 8px">{{ product.produkt }}</td>
      <td style="text-align: left;padding: 8px">{{ product.tloustka }}</td>
      <td style="text-align: left;padding: 8px">{{ product.vyska }}</td>
      <td style="text-align: left;padding: 8px">{{ product.rozmer_motivu}}</td> 
      <td style="text-align: left;padding: 8px"><a href="/media/{{ product.soubor }}">/media/{{ product.soubor }}</a></td>
    </tr>
{% endfor %}
</table>
{% endif %}
<br>
<div class="alert alert-info" role="alert">
  Na zadaný e-mail ({{ object.email }}) jsme Vám zaslali objednávku s fakturou.
</div>
<style type="text/css">
.gdpr {
  display: none
}
</style>

{% endblock %}
